#header {
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 950px;
    filter: grayscale(100%);
    text-shadow: 2px 2px 2px black;
    .nav {
        text-shadow: 2px 2px 2px black;
    }
    &:after {
        content: '';
        height: 20%;
        background-image: url('../images/wave.png');
        width: 100%;
        position: absolute;
        top: 900px;
        background-repeat: no-repeat;
    }
}